In [19]:
# List of high schools
high_schools = ["Hernandes High School", "Figueroa High School", "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandes High School
Figueroa High School
Wilson High School
Wright High School

In [35]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [40]:
# List of high schools

high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", " Griffin High School","Wilson High School", "Cabrera High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Ford High School", "Thomas High School"]

In [41]:
# Add the Pandas dependency.

import pandas as pd

In [43]:
# Creat a Pandas Series from a list.

school_series = pd.Series(high_schools)

school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Holden High School
8          Pena High School
9        Wright High School
10    Rodriguez High School
11         Ford High School
12       Thomas High School
dtype: object

In [44]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [45]:
school_df = pd.DataFrame(high_school_dicts)

school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [46]:
# Three separate lists of information on high schools

school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [56]:
# Initialize a new DataFrame.

schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Add the school_name list as "School Name"
schools_df["School Name"] = school_name

# Add type_of_school as "Type"
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [58]:
# Columns Attribute - for reference

school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [60]:
# Index Attribute - for reference - returns a RangeIndex that contains the first and last index value
#as well as the "step=1", or how often the index increments. In this case, the index increments a value 
#of 1 from the beginning index to the ending index.

school_df.index

RangeIndex(start=0, stop=5, step=1)

In [61]:
# Values Attribute - for reference

school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)